# General
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=satyam_db

# Blockchain
WEB3_PROVIDER_URL=
CONTRACT_ADDRESS=
PRIVATE_KEY=

# Authentication
JWT_SECRET=your_jwt_secret_here
